.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
    overflow-x: scroll;
}

.header::-webkit-scrollbar {
    display: none;
}

.header {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.header_icon > .MuiSvgIcon-root {
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}

.header_icon {
    display: flex;
    flex-direction: column;
    width: 100px;
    cursor: pointer;
}

.header_icon > p {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
    display: none;
}

.header_icon-active > p {
    display: inline-flex !important;
}

.header_icon:hover > p {
    display: inline;
}

.header_icons {
    display: flex;
    align-items: center;
    text-align: center;
}

.header > img {
    height: 80px;
    object-fit: contain;
}